@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Docker image <a href="https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/">deployment using azure web services example</a>.</p>
    <p>Release 5</p>
    <p>Release 6</p>
    <p>Release 7</p>
    <p>Release 8</p>
    <p>Release 9</p>
    <p>Release 10</p>
    <p>Release 11</p>
    <p>Release 12</p>
    <p>Release 13+++</p>
    <p>Release 14+++</p>
    <p>Release 15+++</p>
    <p>Release 16++++</p>
    <p>Release 17++++</p>
    <p>Release 93+++</p>
</div>
